<section id="subscribe-screen">
  <p>
    Hello and welcome to the Game of Three. You are now in the game lobby. Click the button below to subscribe for a
    duel.
    We will find an opponent of yours and you will start dueling.
  </p>
  <p>
    Keep in mind this is version 0.0.1 where no registration and login is still implemented.
    Thus we cannot identify you once you navigate out from the game. So it's highly recommended to not closing your
    browser/tab nor refreshing the page.
  </p>
  <form>
    <div>
      <label for="auto">Play automatically</label>
      <input (click)="toggleAutoPlay($event)" checked="checked" id="auto" type="checkbox"/>
    </div>
    <div>
      <button [disabled]="disabled" (click)="subscribe()">Subscribe</button>
    </div>
  </form>
</section>

<hr/>

<section id="waiting-screen" *ngIf="isWaiting()">
  Waiting for an opponent...
</section>

<section id="playing-screen" *ngIf="isPlaying() || hasWinner()">
  <div>
    Game started! You are <b>Player ( {{playerId}} )</b>.
    <span *ngIf="!hasWinner() && !isIdle()">
      <span *ngIf="isYourTurn()">You are on turn You have {{turnTimeLeft}} seconds to act!</span>
      <span *ngIf="!isYourTurn()">Your opponent is on turn and has {{turnTimeLeft}} seconds to act!</span>
    </span>
  </div>
  <ul>
    <li *ngFor="let move of room.history" [ngStyle]="{'font-weight': move.player.id === playerId ? 'bold' : 'normal'}">
      [ {{move.createdOn | date:'HH:mm:ss'}} ] Player ( {{move.player.id}} ) modified {{move.lastNumber}}
      with {{move.modifier}} and received {{(move.lastNumber + move.modifier) / 3}}.
    </li>
  </ul>

  <div *ngIf="!hasWinner()" id="controls">
    <form>
      <label for="modifier">
        <input name="modifier" id="modifier" type="number" min="-1" max="1" maxlength="1" [(ngModel)]="modifier"/>
      </label>
      <button *ngIf="!autoplay" [disabled]="!isYourTurn()" (click)="move()">Move</button>
    </form>
  </div>
</section>

<section id="winning-screen" *ngIf="hasWinner()">
  <p>Player {{room.winner.id}} has won <span *ngIf="isIdle()"><b>(because the opponent is idle)</b></span> the game!
    Congratulations!</p>
  <div id="new-game">
    <button (click)="reset()">Start again</button>
  </div>
</section>
